/* Common Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
}

h2 {
    color: #007bff;
}

/* To-Do List Styles */
#task-list {
    list-style: none;
    padding: 0;
}

.task {
    background-color: #f8f9fa;
    margin: 10px 0;
    padding: 15px;
    border-radius: 5px;
    transition: box-shadow 0.3s;
}

.task:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.task.completed {
    text-decoration: line-through;
    opacity: 0.6;
}

.task input[type="checkbox"] {
    margin-right: 10px;
}

.priority-high {
    color: #d9534f;
    font-weight: bold;
}

.priority-medium {
    color: #f0ad4e;
    font-weight: bold;
}

.priority-low {
    color: #5bc0de;
    font-weight: bold;
}

.due-time {
    color: #5bc0de;
}

#add-task-form .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

#add-task-form .btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

#menu-button {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
}

/* Pomodoro Timer Styles */
#pomodoro-timer {
    text-align: center;
    margin-top: 20px;
    font-size: 24px;
}

#timer-display {
    display: inline-block;
    margin-right: 10px;
}

#start-pomodoro,
#stop-pomodoro {
    margin-top: 10px;
}

#menu-button-pomodoro {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
}
/* Add the following styles for the animation */
@keyframes pomodoroAnimation {
    0% {
        background-color: #fff; /* Initial color */
    }
    50% {
        background-color: #f8d7da; /* Color halfway through the animation */
    }
    100% {
        background-color: #dc3545; /* Final color */
    }
}

#pomodoro-timer.active {
    animation: pomodoroAnimation 1500s linear forwards; /* 1500s (25 minutes) duration */
}
